@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-highlight: #e4f2ff;
  --text-color-light: #838383;
  --text-color-dark: #222222;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  color: var(--text-color-dark);
  line-height: 1.4;
}

@media screen and (max-width: 40em) {
  .hide-mobile {
    display: none !important;
  }
}
