html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 100%;
  font-weight: 500;
  line-height: 1.4;
  color: #222222;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

h1 {
  font-size: 2rem;
  max-width: 40rem;
}

.title {
  padding: 3rem 0;
}

.project-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  justify-content: space-around;
}

.project {
  padding: 1rem;
  background-color: #f5f7fa;
  border-radius: 0.5rem;
}

.project span {
  display: block;
}

.project__name {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

.project__actions {
  display: grid;
  gap: 1rem;
}

.project__action-functions {
  font-size: .875rem;
  color: #838383;
}

@media screen and (min-width: 40em) {
  h1 {
    font-size: 2.875rem;
  }

  .title {
    padding: 5rem 0;
  }

  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 60em) {
  .project-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}