---
import Layout from '@/components/Layout.astro';
import Nav from '@/components/Nav.astro';
import Footer from '@/components/Footer.astro';
import GasChart from '@/components/react/GasChart';
import GasLimitChart from '@/components/react/GasLimitChart';
---

<Layout title="Gas Price History" description="Ethereum gas price history chart">
  <Nav />
  <main class="w-full">
    <GasChart client:visible />
    <GasLimitChart client:visible />
  </main>
  <Footer />
</Layout>
